/* app css stylesheet */
/*@import url("hamburgerMenu.css");*/
/*@import url("mail/mail.css");*/

html{
  height:100%;
}

body{
  height:100%;
}
.bodyStyles {
  border-style: solid;
  border-width: 18px 24px 25px 29px;
  -moz-border-image: url("../images/border.png") 28 32 43 36 round;
  -webkit-border-image: url("../images/border.png") 28 32 43 36 round;
  -o-border-image: url("../images/border.png") 28 32 43 36 round;
  border-image: url("../images/border.png") 28 32 43 36 fill round;
}
