/* app css stylesheet */
/*@import url("hamburgerMenu.css");*/
/*@import url("mail/mail.css");*/

html{
  height:100%;
}

body{
  height:100%;
}
.bodyStyles {
  border-style: solid;
  border-width: 70px 76px 71px 78px;
  -moz-border-image: url("../images/border_img.png") 70 76 71 78 round;
  -webkit-border-image: url("../images/border_img.png") 70 76 71 78 round;
  -o-border-image: url("../images/border_img.png") 70 76 71 78 round;
  border-image: url("../images/border_img.png") 70 76 71 78 fill round;
}
